<h2>All Feeds</h2>

<ul>
  <% collection.forEach(function(feed) { %>
    <li>
      <a href="#/feeds/<%=feed.id%>"><%= feed.escape("title") %>
        <a href="javascript:void(0)" id="<%= feed.id %>" class="delete">Delete Feed</a>
      </a>
    </li>
  <% }); %>
</ul>


<a href="javascript:void(0)" class="new-feed">Add Feed</a>

