<h2><%= feed.escape("title") %></h2>

<ul>
  <% feed.entries().forEach(function(entry) { %>
    <li>
      <a href="<%= entry.escape("link") %>">
        <%= entry.escape("title") %>
      </a>
    </li>
  <% }) %>
</ul>